
.workshop-downtown {
    width: 100%;
    position: relative;

    width: 100%;
    /* height: 100vh; */
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;

    background: url("./images/workshopBackground.jpg");
    background-size: cover;
    /* width: fit; */
}

.workshop-downtown-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.workshop-downtown-background img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.workshop-downtown-heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    background: linear-gradient(301deg, #6EB0CD 4.94%, #FFF 68.7%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background: linear-gradient(180deg, #FFF -11.67%, #3697CF 145.83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(6px 4px 4px #000);
    /* backdrop-filter: blur(18.5px); */

    position: relative;
    text-align: right;
}

@media screen and (max-width:600px) {
    .workshop-downtown-heading {
        font-size: 40px;
    }
}

.workshop-downtown-content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    z-index: 7;
    justify-content: space-around;
    margin: 10px;
}

.workshop-downtown-cotent-content-card {
    display: flex;
    flex-direction: column;
    height: 250px;
    max-width: 200px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    /* flex-wrap: wrap; */
}

.workshop-downtown-cotent-content-card a {
    width: 152px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 6px;
    font-size: 12px;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.514) 0%, rgba(46, 74, 125, 0.48) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 32px 0px;
    backdrop-filter: blur(25000px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Quantico, sans-serif;
    cursor: pointer;
}

.workshop-downtown-cotent-content-card  button {
    border: 0px;
    color: white;
    background: transparent;
    letter-spacing: 1px;
    font-weight: 400;
}
.workshop-downtown-cotent-content-card  a{
    text-decoration: none;

}

.workshop-downtown-cotent-content-card-img {
    width: 200px;
}

/* workshop section */
:root {
    --inner_circle: 300px;
    --outer-circle1: calc(526 / 328 * var(--inner_circle));
    --outer-circle2: calc(528 / 328 * var(--inner_circle));
    --animation-time: 1.4s;
}

.main-page-workshop-home-circle {
    height: var(--inner_circle);
    width: var(--inner_circle);
    border-radius: 50%;
    background: linear-gradient(rgba(253, 200, 152, 1), rgba(134, 52, 171, 0.61) 80%);
    position: absolute;
    top: calc(50% - var(--inner_circle) / 2);
    left: calc(50% - var(--inner_circle) / 2);
    z-index: 5;
    transition: left var(--animation-time) ease-in-out;

    background: linear-gradient(153deg, rgba(23, 144, 197, 0.69) 14.16%, #7EBCD7 53.59%, #FFF 103.24%);
}

.main-page-workshop-home-outer-circle1 {
    height: var(--outer-circle1);
    width: var(--outer-circle1);
    border-radius: 50%;
    background: #030014;
    position: absolute;
    top: calc(50% - var(--outer-circle1) / 2);
    left: calc(50% - var(--outer-circle1) / 2);
    z-index: 4;
    transition: left var(--animation-time) ease-in-out;
}

.main-page-workshop-home-outer-circle2 {
    height: var(--outer-circle2);
    width: var(--outer-circle2);
    border-radius: 50%;
    /* background: linear-gradient(90deg, rgba(22, 22, 22, 1) 0%, rgba(255, 255, 255, 1) 100%); */
    position: absolute;
    border: 0.5px solid white;
    top: calc(50% - var(--outer-circle2) / 2);
    left: calc(50% - var(--outer-circle2) / 2);
    z-index: 3;
    transition: left var(--animation-time) ease-in-out;

}

.main-page-workshop-home-arc {
    height: var(--outer-circle2);
    width: var(--outer-circle2);
    border-radius: 50%;
    border: 3px solid white;
    border-color: white transparent transparent transparent;
    background: transparent;
    position: absolute;
    top: calc(50% - var(--outer-circle2) / 2);
    left: calc(50% - var(--outer-circle2) / 2);
    z-index: 4;
    animation: spin 4s linear infinite;
    transition: left var(--animation-time) ease-in-out;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}